<div class="card">
    <div class="card-header">
         <p class="card-header-title">
      Component
    </p>
    </div>
    <div class="card-image">
        <figure class="image is-4by3">
         <img src="{{feature_image}}" alt="Feature Image">  
        </figure>
    </div>
    <div class="card-content"></div>
</div>