{{!< default}}
<main class="columns-container">
    <div class = "columns is-variable is-5 is-centered is-multiline is-mobile">
        {{#foreach posts}}
            <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
                {{>postcard}}
            </div>
        {{/foreach}}
    </div>
    <div class="pagination-container">
        {{pagination}}
    </div>
</main>
