{{!< default}}
<main class="columns-container">
    <div class = "columns is-variable is-5 is-centered is-multiline">
        {{#foreach posts}}
        <div class="column is-half">
        {{>postcard}}
        </div>
        {{/foreach}}
    </div>
    <div class="pagination-container">
    {{pagination}}
    </div>
</main>