{{!< default}}
{{#post}}
    <article class="hero">
    <header class="post-header post-header-border">
        <h1 class="title is-4">{{title}}</h1>
    </header>
    <section class="section">
        {{content}}
    </section>
</article>
{{/post}}