.header-color {
    background-color:#72d4cb;
}

.centered {
    text-align: center;
}

body {
    font-family: Raleway;
}

a.navbar-item:hover {
    background-color: #fafafa;
    color: #72d4cb;
}

.navbar-link {
    color: black;
}

.navbar-link:hover {
    background-color: #fafafa;
    color: #72d4cb;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: black;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: #fafafa;
    color: #72d4cb;
}

.columns.is-variable .column {
    padding-top: var(--columnGap);
    padding-bottom: var(--columnGap);
}

.columns-container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    padding: 2.5rem;
}

.card {
    padding: 60px;
    border-radius: 15px;
    background-color: #ff89641a;
}

.border {
    border-style: solid;
    color: black;
    border-radius: 5px;
    background-color: white;
}

